.heading-container {
  display: flex;
  justify-content: center;
}

.form-container {
  display: flex;
  justify-content: left;
  padding: 20px;
}

button {
  border: none;
  border-radius: 5px;
  background-color: darkgreen;
  color: white;
  padding: 10px;
}

input {
  max-width: 120px;
}

.card {
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
  margin: 5px;
}

.book-list {
  display: flex;
  flex-wrap: wrap;
}

#remove-btn {
  background-color: white;
  border: 1px solid red;
  color: red;
}

#remove-btn:hover {
  background-color: red;
  color: black;
}
